{% extends"base.html" %}

{% block body %}
    <div class="col-lg-10 fa-align-center">
        <div class="panel panel-default">
            <div class="panel-heading"><h1 class="panel-title center-block">스마트 볼라드 관리 시스템</h1></div>
            <div class="panel-body">
                <form role="login_form">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <input type="text" id="inputId" class="form-control" placeholder="아이디를 입력하세요">
                            </div>

                            <div class="form-group">
                                <input type="password" id="inputPassword" class="form-control" placeholder="비밀번호를 입력하세요">
                            </div>
                        </div>
                        <div class="col-sm-2 ">
                            <button type="button" id="buttonLogin" class="btn btn-default">로그인</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <script>
</script>
{% endblock %}

